# Examples
Here are some real world usage examples of the Teamtailor API.

## Paginate a list

Get the second page of jobs, with 20 jobs per page.

```http
GET https://api.teamtailor.com/v1/jobs?page%5Bsize%5D=20&page%5Bnumber%5D=2 HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>
```

```shell
curl -X "GET" "https://api.teamtailor.com/v1/jobs?page%5Bsize%5D=20&page%5Bnumber%5D=2" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
```

### Parameters used in this example

Parameter   | Value               | Description
----------  | ------------------- | -----------
page[size]  | 20                  | Get 20 jobs in the list.
page[number]| 2                   | Get the second page of jobs.

## List published jobs with their department and locations

Get a list of published jobs and include their departments and locations in one request.

```http
GET https://api.teamtailor.com/v1/jobs?include=department,locations HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>
```

```shell
curl -X "GET" "https://api.teamtailor.com/v1/jobs?include=department,locations" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
```

### Parameters used in this example

Parameter  | Value               | Description
---------- | ------------------- | -----------
include    | department,locations | Comma separated list of relations to include in the response.

## List latest hired candidates

Get a list of the most recent hired candidates

```http
GET https://api.teamtailor.com/v1/job-applications?include=candidate&filter%5Bstage-type%5D=hired&sort=-changed_stage_at HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>
```

```shell
curl "https://api.teamtailor.com/v1/job-applications?include=candidate&filter%5Bstage-type%5D=hired&sort=-changed_stage_at" \
     -H "Authorization: Token token=abc123abc123" \
     -H "X-Api-Version: <%= config[:api_version] %>"
```

### Parameters used in this example

Parameter          | Value                  | Description
------------------ | ---------------------- | -----------
include            | candidate              | Since we're fetching latest job applications, we must include the candidate if we wan't more data about each hire.
filter[stage-type] | hired                  | Just list job applications marked as hired
sort               | <span class="no-wrap">-changed_stage_at</span>      | Sort applications by most recent added to current (hired) stage

## Create candidate with a To-Many location relationship

Create a <code>candidates</code> resource with with a <code>To-Many</code> relationship to a `locations` resource set.

<aside class="warning">
The <code>location</code> resource has to be created before this request is executed.
</aside>

```http
POST https://api.teamtailor.com/v1/candidates HTTP/1.1
Authorization: Token token=abc123abc123
X-Api-Version: <%= config[:api_version] %>

{"data":{"type":"candidates","attributes":{"email":"jonas@example.com","pitch":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","last-name":"Jonas","first-name":"Brusman","merge":true},"relationships":{"locations":{"data":[{"id":"1","type":"locations"}]}}}}
```

```shell
     curl -X "POST" "https://api.teamtailor.com/v1/candidates" \
          -H "Content-Type: application/vnd.api+json" \
          -H "X-Api-Version: <%= config[:api_version] %>" \
          -H "Authorization: Token token=abc123abc123" \
          -d $'{
       "data": {
         "type": "candidates",
         "attributes": {
           "email": "jonas@example.com",
           "pitch": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
           "last-name": "Jonas",
           "first-name": "Brusman",
           "merge": true
         },
         "relationships": {
          "locations":
            {
              "data": [
                {
                  "id": "1",
                  "type": "locations"
                }
              ]
            }
        }
      }
     }'
```

## Embed application form

> Example iframe

```html
<iframe src="https://career.teamtailor.com/jobs/7199-new-title/applications/new?iframe=true"
style="width: 100%; height: 800px"
frameborder="0"></iframe>
```

> Iframe helper script

```html
<script src="https://scripts.teamtailor-cdn.com/widgets/production/apply.js"></script>
```

To embed an application form on your website, create an `<iframe>` and set
the `src` attribute to the job's `careersite-job-apply-iframe-url` attribute.

Remember to set `frameborder="0"` and `style="width: 100%; height: 800px"`.

To enable features such as auto-resize of the iframe, insert the helper script
to the right in the `<head>` section of your page.
